.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;

  left: 50%;
  transform: translate(-49%, 0);

  background-color: #F7F7F7;

  /*overflow: hidden은 스크롤 불가능*/
  /* 스크롤 가능하게 수정 */
  overflow-y: auto;  /* 세로 스크롤을 가능하게 함 */
  overflow-x: hidden; /* 가로 스크롤은 숨김 */

  display: flex;
  flex-direction: column;
}

/*MatchingINfo.jsx*/

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #9e30f4;
  border-radius: 64px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
  position: sticky; /* 버튼을 하단에 고정 */
  bottom: 0;
}

.bottomButtonWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 10px 0;
  position: sticky; /* 버튼을 하단에 고정 */
}

.bottomButton:disabled {
  background-color: #dadada;
  color:white;
}

/*MatchingTarget.jsx*/
.searchWrap {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.searchInput {
  width: 96%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.filterWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.filterWrap select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  width: 30%;
}

.creatorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;  /* 카드 간격 */
  margin-bottom: 100px; /* 카드와 버튼 사이에 여백 추가 */
}

.creatorCard {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 그림자 추가 */
  font-size: 16px;
  text-align: center;
  width: 200px;  /* 카드 폭 */
  box-sizing: border-box;
  line-height: 1.5;
  transition: box-shadow 0.2s;
}

.creatorCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* 호버 시 효과 */
}

.creatorCard h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.creatorCard p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.creatorCard a {
  font-size: 12px;
  color: #3498db;
  text-decoration: none;
}

.creatorCard a:hover {
  text-decoration: underline;
}

.noResult {
  margin-top: 20px;
  color: red;
  font-size: 16px;
}

