.page { /*회색 강조되는 부분 css*/
    position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 500px;
    padding: 0 20px;

    /*필요한 부분 정가운데 위치*/
	left: 50%; 
	transform: translate(-50%, 0);
    /*회색 음영 처리*/
    background-color: #F7F7F7;

	overflow: hidden;
    display: flex; /*확인 버튼을 가장 하단에 배치하기 위함*/
    flex-direction: column;
}

.titleWrap {/*가장 위 제목 부분*/
    margin-top: 87px; /*간격*/
    font-size: 26px;
	font-weight: bold;
	color: #262626;
}

.contentWrap {
    margin-top: 26px;
    flex: 1;
}

.inputTitle {
    font-size: 12px;
	font-weight: 600;
	color: #262626;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
    border: 1px solid #9e30f4; /*선택시 영역 표시 색 설정*/
}

.input { /*박스안에 input되는 텍스트 설정*/
    width: 100%;
    outline: none;
	border: none;
    height: 17px;
    font-size: 14px;
	font-weight: 400;
}

.input::placeholder {/*입력 예시 설정*/
    color: #dadada;
}

.bottomButton {
    width: 100%;
	height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 64px;
    background-color: #30b3f4;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}

.bottomButton:disabled {/*확인 버튼 누르기 전 상태*/
    background-color: #dadada;
    color: white;
}

.errorMessageWrap {/*오류 메세지 설정*/
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}

.signupWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* 비밀번호 입력란 바로 아래 */
  }
  
  .signupText {
    font-size: 14px;
    color: #262626;
    margin-right: 5px;
  }
  
  .signupButton {
    background: none;
    border: none;
    color: #30c3f4;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
  }
  .signUpButton:hover {
    text-decoration: underline;
  }
  /*
  .underline {
    width: 50%;
    height: 1px;
    background-color: #9e30f4;
    margin-top: 5px;
  }*/